/*
 Theme Name:   Baskerville Child
 Theme URI:    http://plasterdog.com
 Description:  BASKERVILLE CHILD
 Author:       John Doe
 Author URI:   https://webprosmeetup.ORG
 Template:     baskerville
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twentyfifteenchild
*/
.blog-title {
  text-align: left !important; }

.blog-description {
  text-align: left !important; }

body {
  background: #882222 !important; }

.medium-padding {
  padding: 0 0 1em 0 !important; }

#site-content .section-inner {
  max-width: 100%;
  margin: 0 auto 0 0;
  width: 100%; }

.sidebar {
  width: 27.5%;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0 !important;
  overflow: hidden;
  min-height: calc(100vh - 2em) !important; }

/*# sourceMappingURL=style.css.map */
