/* 
Theme Name:   	Baskerville Child 
Theme URI:    	http://plasterdog.com 
Description:  	BASKERVILLE CHILD 
Author:       	Jeff McNear 
Author URI:   	https://webprosmeetup.ORG 
Template:		baskerville 
Version:		1.0.1 
License:      	GNU General Public License v2 or later 
License URI:  	http://www.gnu.org/licenses/gpl-2.0.html 
Tags: 			light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready 
Text Domain:  baskervillechild
*/
/*--- COLORS ---*/
/*--- FONTS ---*/
/*--- UNIVERSAL ---*/
body { background: #fbf8f8 !important; color: #330c0c !important; }

.hentry, .post { width: 100%; position: relative; background: transparent !important; border-radius: 0 !important; box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important; overflow: hidden; }

.bg-dark { background-color: #330c0c !important; }

/*-----HEADER RELATED ----*/
.blog-title { text-align: left !important; color: #fbf8f8 !important; font-family: Arial, Tahoma, Verdana !important; }

.blog-description { text-align: left !important; color: #fbf8f8 !important; font-family: Arial, Tahoma, Verdana !important; font-size: 1.5em !important; line-height: 110%; font-weight: 500 !important; margin: 0 !important; text-shadow: 0 0 0 rgba(0, 0, 0, 0) !important; }

.search-toggle { opacity: 1 !important; }

.bg-graphite { background-color: #000000 !important; }

.header-search-block .search-field { border: solid #fbf8f8 2px !important; }

/*--- NAVIGATION ---*/
.main-menu > li > a { display: block; padding: 27px; padding-right: 27px; font-size: 0.85em; color: #fbf8f8 !important; text-transform: uppercase; letter-spacing: 1px; font-weight: 700; }

ul.sub-menu li a { text-align: left !important; color: #fbf8f8 !important; }

.main-menu ul li { display: block; width: 240px; background: #330c0c !important; }

/*----CONTENT REGION----*/
/*--- POSITIONING ---*/
.medium-padding { padding: 0 0 1em 0 !important; }

body.archive .content { width: 67.5%; padding-bottom: 2em; }

#site-content .section-inner { max-width: 100%; margin: 0 auto 0 0; width: 100%; }

.archive .post-content, .single .post-content { padding: 0 10% 0 10% !important; }

/*--- TYPOGRAPHY RELATED ----*/
.post-content p, .post-content blockquote, .post-content ul, .post-content ol, .post-content address, .post-content dl, .post-content .wp-caption, .post-content pre { line-height: 1.25em !important; margin-bottom: 0.5em !important; -ms-word-wrap: normal !important; word-wrap: normal !important; }

.post-header { position: relative; padding: 1em 10% !important; border-bottom: none; }

.page-title { margin: 0.5em 0 !important; text-align: left !important; }

.post-header .post-title { font-family: Arial, Tahoma, Verdana !important; font-size: 1.25em; line-height: 120%; font-weight: 500 !important; color: #330c0c !important; word-break: normal !important; -ms-word-break: normal !important; border-bottom: none !important; }

.post-header { position: relative; border-bottom: none !important; }

.post .post-header::before, .page .post-header::before { display: none !important; border: none !important; border-top-color: transparent !important; position: relative !important; z-index: 0 !important; bottom: 0 !important; left: 0 !important; margin-bottom: 0 !important; }

.post .post-header::after, .page .post-header::after { content: ""; display: none !important; border: none !important; position: absolute; z-index: 0 !important; bottom: 0 !important; left: 0 !important; margin-left: 0 !important; margin-bottom: 0 !important; }

a.more-link { display: none !important; visibility: collapse !important; }

.pagination-container { padding: 2em 10% 0 10% !important; }

/*--- SEARCH RELATED ---*/
.search .content.fleft { width: 66% !important; }

.search .result-container { padding: 0 10% 0 10% !important; border-bottom: dashed 1px !important; }

.search .post-header { padding: 1em 0 0.5em 0 !important; }

.search h1.page-title { border-bottom: dashed 1px !important; padding-bottom: 0.5em !important; margin-bottom: 0.5em !important; text-align: center !important; }

.search .wrapper .searchform .search-field { margin: 2em 0 !important; background: #fbf8f8 !important; color: #330c0c !important; border: solid 2px #330c0c !important; }

/*--- ARCHIVES ---*/
p.archive-link { text-align: right !important; }

p.archive-link a { color: #882222 !important; }

p.archive-link a:hover { color: #330c0c !important; text-decoration: underline !important; }

.archive-excerpt-container { border-bottom: dashed 1px !important; }

.post-content.archive-heading { border-bottom: dashed 1px; }

.featured-media a:hover img { transform: none !important; opacity: 1 !important; }

.featured-image { float: left !important; width: 200px !important; }

.featured-image img { width: 100% !important; height: auto !important; }

.excerpt-section { float: right !important; margin-left: 12px !important; width: calc(100% - 212px) !important; }

h1.post-title a { color: #882222 !important; font-weight: 700 !important; }

h1.post-title a:hover { color: #330c0c !important; font-weight: 700 !important; text-decoration: underline !important; }

/*--- AUTHOR RELATED ---*/
.author-links a.author-link-website { background-image: none !important; }

.author-links a { display: inline !important; width: auto !important; height: auto !important; background-color: transparent !important; background-repeat: no-repeat !important; background-position: center !important; background-size: auto !important; margin-left: 0 !important; border-radius: 0 !important; text-indent: 0 !important; }

.post-author::before { z-index: 100; top: 0 !important; width: 0 !important; height: 0 !important; background: transparent !important; background-image: none !important; background-size: auto !important; background-size: 0 !important; }

.post-author::before, .post-author::after { content: ""; display: none !important; position: relative !important; left: 0 !important; }

/*--- COMMENTS ---*/
.comment-respond { padding: 10%; background: transparent !important; border-top: none !important; }

/*--- SIDEBAR REGION ---*/
.sidebar { width: 27.5%; background: transparent !important; box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important; border-radius: 0 !important; overflow: hidden; min-height: calc(100vh - 2em) !important; }

/*----FOOTER REGION ----*/
.footer .one-third { margin-top: 0 !important; padding-top: 2em !important; }

.one-third:first-child { margin-left: 0; float: right !important; margin-top: 0px !important; }

.footer .row { margin-top: 2em !important; }

/*# sourceMappingURL=style.css.map */
