/*--- COLORS ---*/
$trueBlackColor:#000000;
$blackColor: #330c0c;
$whiteColor:#fbf8f8;
$greyColor:#cccccc;
$darkGreyColor:#666666;
$redColor:#882222;

/*--- FONTS ---*/
$serifFont: Georgia,Times,Times New Roman,'Cinzel',serif;
$sansFont:Arial,Tahoma,Verdana;